@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$primaryColor: #e3f8ff;
$secondaryColor: #d5e1e6;
$tertiaryColor: #dcdefb;
$fontColor: darken(grey, 20%);
$buttonCollor: #408bfa;

$gradient: linear-gradient(180deg, rgba(185, 184, 197, 1) 0%, rgba(226, 226, 240, 1) 74%);

$font: 'Roboto';
$fontSize: 0.5rem;

$shadow: 2px 2px 2px black;
$productShadow: 3px 3px 5px black;